USE [master]
GO
/****** Object:  Database [QuanLyTiemNet]    Script Date: 5/26/2026 6:51:38 PM ******/
CREATE DATABASE [QuanLyTiemNet]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyTiemNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyTiemNet]
GO
/****** Object:  Table [dbo].[ChiTietGoiMon]    Script Date: 5/26/2026 6:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGoiMon](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaPhien] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/26/2026 6:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[PhanLoai] [nvarchar](50) NOT NULL,
	[TonKho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuNapTien]    Script Date: 5/26/2026 6:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuNapTien](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoanKhach] [int] NOT NULL,
	[MaTaiKhoanNhanVien] [int] NOT NULL,
	[SoTienNap] [decimal](18, 2) NOT NULL,
	[ThoiGianNap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MayTram]    Script Date: 5/26/2026 6:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MayTram](
	[MaMay] [int] IDENTITY(1,1) NOT NULL,
	[TenMay] [nvarchar](50) NOT NULL,
	[TrangThai] [int] NULL,
	[GiaMoiGio] [decimal](18, 2) NOT NULL,
	[LoaiMay] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/26/2026 6:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[CaLamViec] [nvarchar](50) NOT NULL,
	[MucLuong] [decimal](18, 2) NOT NULL,
	[NgayVaoLam] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienChoi]    Script Date: 5/26/2026 6:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienChoi](
	[MaPhien] [int] IDENTITY(1,1) NOT NULL,
	[MaMay] [int] NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[GioBatDau] [datetime] NULL,
	[GioKetThuc] [datetime] NULL,
	[TienGio] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/26/2026 6:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[VaiTro] [int] NOT NULL,
	[SoDu] [decimal](18, 2) NULL,
	[HoTen] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietGoiMon] ON 

INSERT [dbo].[ChiTietGoiMon] ([MaChiTiet], [MaPhien], [MaDichVu], [SoLuong], [GiaBan]) VALUES (1, 1, 1, 1, CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietGoiMon] ([MaChiTiet], [MaPhien], [MaDichVu], [SoLuong], [GiaBan]) VALUES (2, 1, 2, 1, CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietGoiMon] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [PhanLoai], [TonKho]) VALUES (1, N'Sting Dâu Chai', CAST(15000.00 AS Decimal(18, 2)), N'Nước uống', 50)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [PhanLoai], [TonKho]) VALUES (2, N'Mì Gói Trứng Đặc Biệt', CAST(25000.00 AS Decimal(18, 2)), N'Đồ ăn', 20)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [PhanLoai], [TonKho]) VALUES (3, N'Xúc Xích Đức Chiên', CAST(12000.00 AS Decimal(18, 2)), N'Đồ ăn', 40)
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuNapTien] ON 

INSERT [dbo].[LichSuNapTien] ([MaGiaoDich], [MaTaiKhoanKhach], [MaTaiKhoanNhanVien], [SoTienNap], [ThoiGianNap]) VALUES (1, 2, 1, CAST(100000.00 AS Decimal(18, 2)), CAST(N'2026-05-23T12:11:32.123' AS DateTime))
INSERT [dbo].[LichSuNapTien] ([MaGiaoDich], [MaTaiKhoanKhach], [MaTaiKhoanNhanVien], [SoTienNap], [ThoiGianNap]) VALUES (2, 9, 1, CAST(20000.00 AS Decimal(18, 2)), CAST(N'2026-05-25T19:43:17.037' AS DateTime))
INSERT [dbo].[LichSuNapTien] ([MaGiaoDich], [MaTaiKhoanKhach], [MaTaiKhoanNhanVien], [SoTienNap], [ThoiGianNap]) VALUES (3, 10, 1, CAST(200000.00 AS Decimal(18, 2)), CAST(N'2026-05-25T20:09:05.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuNapTien] OFF
GO
SET IDENTITY_INSERT [dbo].[MayTram] ON 

INSERT [dbo].[MayTram] ([MaMay], [TenMay], [TrangThai], [GiaMoiGio], [LoaiMay]) VALUES (1, N'Máy 01 Thường', 1, CAST(8000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[MayTram] ([MaMay], [TenMay], [TrangThai], [GiaMoiGio], [LoaiMay]) VALUES (23, N'Máy 2 Thường', 1, CAST(8000.00 AS Decimal(18, 2)), N'Thường')
INSERT [dbo].[MayTram] ([MaMay], [TenMay], [TrangThai], [GiaMoiGio], [LoaiMay]) VALUES (24, N'Máy 3 Thường', 1, CAST(8000.00 AS Decimal(18, 2)), N'Thường')
SET IDENTITY_INSERT [dbo].[MayTram] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoan], [HoTen], [ChucVu], [SoDienThoai], [CaLamViec], [MucLuong], [NgayVaoLam], [TrangThai]) VALUES (1, 1, N'Nguyễn Quản Lý', N'Quản lý kỹ thuật', N'0901234567', N'Ca sáng (06:00 - 14:00)', CAST(8500000.00 AS Decimal(18, 2)), CAST(N'2024-04-12' AS Date), N'Đang làm việc')
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoan], [HoTen], [ChucVu], [SoDienThoai], [CaLamViec], [MucLuong], [NgayVaoLam], [TrangThai]) VALUES (2, 2, N'Lê Thị Thu Thảo', N'Thu ngân', N'0987654321', N'Ca chiều (14:00 - 22:00)', CAST(6500000.00 AS Decimal(18, 2)), CAST(N'2024-09-01' AS Date), N'Đang làm việc')
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoan], [HoTen], [ChucVu], [SoDienThoai], [CaLamViec], [MucLuong], [NgayVaoLam], [TrangThai]) VALUES (3, NULL, N'Trần Văn Khánh', N'Bảo vệ', N'0933445566', N'Ca đêm (22:00 - 06:00)', CAST(7000000.00 AS Decimal(18, 2)), CAST(N'2024-12-15' AS Date), N'Tạm nghỉ')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhienChoi] ON 

INSERT [dbo].[PhienChoi] ([MaPhien], [MaMay], [MaTaiKhoan], [GioBatDau], [GioKetThuc], [TienGio]) VALUES (1, 1, 2, CAST(N'2026-05-23T12:26:32.123' AS DateTime), CAST(N'2026-05-23T22:35:30.640' AS DateTime), CAST(81196.70 AS Decimal(18, 2)))
INSERT [dbo].[PhienChoi] ([MaPhien], [MaMay], [MaTaiKhoan], [GioBatDau], [GioKetThuc], [TienGio]) VALUES (2, 1, NULL, CAST(N'2026-05-23T22:05:48.673' AS DateTime), CAST(N'2026-05-23T22:37:43.313' AS DateTime), CAST(4254.75 AS Decimal(18, 2)))
INSERT [dbo].[PhienChoi] ([MaPhien], [MaMay], [MaTaiKhoan], [GioBatDau], [GioKetThuc], [TienGio]) VALUES (3, 1, NULL, CAST(N'2026-05-23T22:05:51.983' AS DateTime), CAST(N'2026-05-23T22:40:21.963' AS DateTime), CAST(4599.95 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PhienChoi] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [SoDu], [HoTen]) VALUES (1, N'admin01', N'1', 0, CAST(0.00 AS Decimal(18, 2)), N'Nguyễn Quản Lý')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [SoDu], [HoTen]) VALUES (2, N'khach01', N'123456', 1, CAST(239983.80 AS Decimal(18, 2)), N'Phạm Minh Hoàng')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [SoDu], [HoTen]) VALUES (3, N'khach02', N'123456', 1, CAST(179984.12 AS Decimal(18, 2)), N'Lê Tuấn Anh')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0DB2299BE]    Script Date: 5/26/2026 6:51:38 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT ((0)) FOR [TonKho]
GO
ALTER TABLE [dbo].[LichSuNapTien] ADD  DEFAULT (getdate()) FOR [ThoiGianNap]
GO
ALTER TABLE [dbo].[MayTram] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[MayTram] ADD  DEFAULT (N'Thường') FOR [LoaiMay]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (getdate()) FOR [NgayVaoLam]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm việc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhienChoi] ADD  DEFAULT (getdate()) FOR [GioBatDau]
GO
ALTER TABLE [dbo].[PhienChoi] ADD  DEFAULT ((0)) FOR [TienGio]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[ChiTietGoiMon]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietGoiMon]  WITH CHECK ADD FOREIGN KEY([MaPhien])
REFERENCES [dbo].[PhienChoi] ([MaPhien])
GO
ALTER TABLE [dbo].[LichSuNapTien]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoanKhach])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[LichSuNapTien]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoanNhanVien])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[PhienChoi]  WITH CHECK ADD FOREIGN KEY([MaMay])
REFERENCES [dbo].[MayTram] ([MaMay])
GO
ALTER TABLE [dbo].[PhienChoi]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
USE [master]
GO
